html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  	background: #f5f5f5;
}
h1 {
  font-size: 6em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 3em;
}

.row {
  margin: 0px;
}

.no-padding {
  padding: 0px;
  width: 100%;
}

.title-heading {
  padding-bottom: 25px;
  font-weight: 500;
  color: #FF6868;
  font-family: 'Cookie', cursive;
}
.piglet-malarkey {
  padding-top: 10px;
  font-weight: 900;
  color: #CCC;
  font-family: 'Poiret One', cursive;
}
.main-img-container {
  height: 225px;
  align-items: center;
}

.main-img {
  height: 100%;
  border-radius: 50%;
}

.landing {
  padding-top:120px;
  height: 700px;
  width: 100%;
  position: relative;
	@include background('../assets/images/bg-grass.jpg', 0.01, 0.4);
  background-attachment: fixed;
}

.weather {
  padding:80px;
  height: 1150px;
  width: 100%;
  background: pink;
}

.main-weather-bg {
  display: inline-block;
  background: white;
  height: 700px;
  width: 100%;
  box-shadow: 0 0 20px black;
}

.weather-title {
  padding-top: 25px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  font-weight: 600;
  line-height: 2;
}

.weather-img {
  margin-top: 250px;
  width: 325px;
  height: auto;
}

.weather-data {
  margin-top: 500px;
}

.fund {
  padding-top: 80px;
  height: 1000px;
}

.hiddens {
  visibility: hidden;
}

.tabbed {
  padding: 20px;
  border-radius: 10px;
  background: pink;
}

.moneys {
  float: left;
  margin-left: -700px;
  font-family: 'Poiret One', cursive;
  padding-left: 600px;
  width: 300px;
}

.float-left {
  float: left;
  margin-left: -300px;
}

.float-right {
  float: right;
  margin-right: -250px;
}

.woahs {
  float: right;
  margin-right: -700px;
  font-family: 'Cookie', cursive;
  padding-right: 600px;
  width: 300px;
}

.gold-chest {
  display: inline-block;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-top: 150px;
  @include background('../assets/images/gold-chest.png', 0, 0);
  background-attachment: fixed;
}

.map {
  margin-top: 700px;
	@include background('../assets/images/bg-leaf.jpg', 0.01, 0.4);
}

.map-heading {
  padding-top: 100px;
}

.map-img {
  padding-bottom: 100px;
}

.leaflet {
  box-shadow: 0px 0px 10px gray;
}

.list-group-item {
  background: aliceblue;
}

.list-style {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #262626;
  font-weight: 600;
}

.btn-delete {
  float: right;
  font-family: helvetica;
}

.facts {
  background: pink;
  padding-bottom: 100px;
}

.img-facts {
  height: 300px;
  border-radius: 5%;
  box-shadow: 0 0 20px black;
  margin-top: 70px;
}

.footer {
  @include background('../assets/images/bg-footer.jpg', 0.01, 0.4);
  padding-bottom: 500px;
}

@media screen and (max-width : 580px) {
  .main-weather-bg {
    width: 100%;
  }
  .weather {
    padding: 0px;
  }
  .img-width-responsive {
    width: 100%;
    height: auto;
  }
  .mobile-hidden {
    display: none;
  }
  .tabbed-font {
    font-family: 'Cookie', cursive;
  }

}

@media screen and (min-width : 580px) {
  .desktop-hidden {
    display: none;
  }
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #3FB8AF;
  border-right: 2px solid #3FB8AF;

  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}
